<!DOCTYPE html><!-- This is a valid HTML5 document. -->
<!-- Screen readers, SEO, extensions and so on. -->
<html lang="fr">
  <!-- Has to be within the first 1024 bytes, hence before the <title>
  See: https://www.w3.org/TR/2012/CR-html5-20121217/document-metadata.html#charset -->
  <meta charset="utf-8" />
  <!-- Why no `X-UA-Compatible` meta: https://stackoverflow.com/a/6771584 -->
  <!-- The viewport meta is quite crowded and we are responsible for that.
  See: https://codepen.io/tigt/post/meta-viewport-for-2015 -->
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <!-- Prevent access via referrers, only the domain will be available. -->
  <meta content="origin-when-cross-origin" name="referrer" />
  <!-- Required to make a valid HTML5 document. -->
  <title>uMap project</title>
  <!-- Lightest blank gif, avoids an extra query to the server. -->
  <link rel="icon" href="data:;base64,iVBORw0KGgo=" />
  <link rel="alternate" type="application/atom+xml" title="Feed" href="{{ base_url }}blog/feed.atom">
  <link rel="stylesheet" href="{{ base_url }}static/vendors/picocss-pico.2.0.0-alpha1.css" />
  <style>
    nav li :where(a[aria-current="page"]):not(:hover) {
      text-decoration: underline;
    }
  </style>
  <body>
    <main class="container">
      <nav>
        <ul>
          <li>
            <h1>
              <a href="{{ base_url }}">uMap project</a>
            </h1>
          </li>
        </ul>
        <ul>
          <li>
            <a href="{{ base_url }}"
               {% if nav_selected == "home" %}aria-current="page"{% endif %}>Home</a>
          </li>
          <li>
            <a href="{{ base_url }}blog/"
               {% if nav_selected == "blog" %}aria-current="page"{% endif %}>Blog</a>
          </li>
          <li>
            <a href="https://docs.framasoft.org/fr/umap/"
               {% if nav_selected == "docs" %}aria-current="page"{% endif %}>Docs</a>
          </li>
        </ul>
      </nav>
      {% block content %}
      {% endblock content %}

    </main>
    <script type="module"></script>
  </body>
</html>
