{% extends "base.html" %}

{% block content %}
  <div class="content">
    {% for blogpost in blogposts %}
      <article>
        <header>
          <h2>
            <a href="{{ base_url }}{{ blogpost.url }}">{{ blogpost.title }}</a>
            ({{ blogpost.short_date }})
          </h2>
        </header>
        <div>{{ blogpost.item }}</div>
        <footer>
          <a href="{{ blogpost.source }}">Source</a>
        </footer>
      </article>
    {% endfor %}
  </div>
{% endblock content %}
