{% extends "base.html" %}

{% block content %}
  <div class="content">
    <article>
      <header>
        <h2>⏱️ One minute. 🗺️ Your map. ✅ Done!</h2>
      </header>
    </article>
  </div>
{% endblock content %}
